.fyra {
}
.fyra__conteiner {
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.fyra-foto {
}

.fyra-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    max-width: 750px;
}
.fyra-text {
}
.fyra-text__h2 {
    text-align: center;
    margin-bottom: 20px;
}
.normal-900 {
}
.fyra-text__p {
    text-align: center;
    margin-bottom: 40px;
}
.normal-700 {
}
.batton {
}
.batton-fyra {
}
.batton-a-zolotoy {
}
@media (max-width:954px){
    .fyra__conteiner {
        flex-direction: column;
    }
    .fyra-foto__img {max-width: 290px;
    }
    .fyra-text__h2 {
        font-size: 3rem;
    }
    .fyra-text {
        max-width: 290px;
    }

}