.monik {
}
.monik__conteiner {
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.monik-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.monik-text {
    text-align: center;
}
.monik-text__h2 {
    text-align: center;
    margin-bottom: 20px;
}
.normal-900 {
}
.monik-text__p {
    text-align: center;
    margin-bottom: 40px;
}
.normal-700 {
}
.batton {
}
.batton-monik {
}
.batton-a-zolotoy {
}
.vishka-foto {
}
.monik-foto__img {
}