.razline{
   
   
}
.razline__conteiner{
   background: var(--taupe);
   text-align: center;
   
   
}
.razline-p{
   text-align: center;
   margin: 20px 0;
   font-size: 2.4rem;
}

@media (max-width:700px)  {
   .razline-p{
      font-size: 2rem;
   }

}
@media (max-width:475px)  {
   .razline-p{
      font-size: 1.8rem;
   }

}