.tral {
}
.tral__conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tral-foto {
}
.vishka-foto__img {
}
.tral-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tral-text {
    max-width: 750px;
    padding: 0 20px;
}
.tral-text__h2 {
    margin-bottom: 20px;
    text-align: center;
}
.normal-900 {
}
.tral-text__p {
    text-align: center;
    margin-bottom: 40px;
}
.normal-700 {
}
.batton {
}
.batton-taral {
}
.batton-a-zolotoy {
}