@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
  --zolotoy:rgb(237, 204, 75);
}

:root {
  --taupe:#73615b;
}

.normal-900 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 56px;
}

.normal-700 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 2px;
}

.normal-400 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;
  /* or 150% */
  letter-spacing: 0.15px;
}

/* Обнуляющий стиль */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

body,
html {
  height: 100%;
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--zolotoy);
  font-size: 14px;
}

[class*=__conteiner] {
  max-width: 1470px;
  margin: 0 auto;
  border-left: 1px solid var(--zolotoy);
  border-right: 1px solid var(--zolotoy);
  padding: 0 15px 0 15px;
  overflow: hidden;
}

/* ================================================================ */
.header {
  background-color: black;
}

.header-logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  border-radius: 10px;
}

.header-logo-img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.header-logo-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-logo-info__tell {
  font-size: 3rem;
  margin: 25px 0;
  border: 1px solid var(--zolotoy);
  padding: 5px;
}
.header-logo-info__tell:hover {
  color: black;
  background: var(--zolotoy);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header-logo-info__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header-logo-info__icon-wrapper {
  padding: 0 5px;
  overflow: hidden;
}

.header-menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.menu-items-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.menu-item-l {
  min-width: 200px;
}

.menu-items-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.menu-item-r {
  min-width: 200px;
}

.icon-burger {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  position: relative;
  display: none;
}

.line-burger {
  width: 100%;
  height: 2px;
  background: var(--zolotoy);
  position: absolute;
  top: 0px;
  z-index: 5;
}
.line-burger::before {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--zolotoy);
  position: absolute;
  top: 14px;
  z-index: 5;
}
.line-burger::after {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--zolotoy);
  position: absolute;
  top: 28px;
  z-index: 5;
}

@media (max-width: 1380px) {
  .header-menu-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu-item-l {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 320px;
    padding-left: 40px;
  }
  .menu-item-r {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    max-width: 320px;
    padding-left: 40px;
  }
}
@media (max-width: 1200px) {
  .header-logo-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-logo {
    min-width: 100%;
    background: var(--zolotoy);
  }
  .header-logo-info {
    max-width: 1100px;
    width: 100%;
  }
  .header-logo-info__tell {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media (max-width: 1000px) {
  .header-logo-info__icons {
    display: none;
  }
  .header-menu-wrapper {
    display: none;
  }
}
@media (max-width: 760px) {
  .header-logo-info__tell {
    font-size: 2rem;
  }
}
@media (max-width: 520px) {
  .header-logo-info__tell {
    text-align: center;
  }
}
.menu-burger {
  background: black;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.main {
  background: black;
}

.kran__conteiner {
  background: black;
  padding-top: 50px;
}

.kran-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.kran-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 500px;
  color: var(--zolotoy);
}

.kran-text__h1 {
  text-align: center;
}

.kran-text__p {
  text-align: center;
  padding: 20px 0;
}

.batton {
  margin-bottom: 10px;
}

.batton-a {
  -ms-flex-item-align: center;
      align-self: center;
  background: var(--zolotoy);
  border-radius: 10px;
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 2;
  padding: 12px 60px;
}

.kran-foto {
  position: relative;
  overflow: hidden;
  padding: 15%;
  min-width: 50%;
  max-width: 51;
}

.kran-foto__img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
}

@media (max-width: 954px) {
  .kran-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.razline__conteiner {
  background: var(--taupe);
  text-align: center;
}

.razline-p {
  text-align: center;
  margin: 20px 0;
  font-size: 2.4rem;
}

@media (max-width: 700px) {
  .razline-p {
    font-size: 2rem;
  }
}
@media (max-width: 475px) {
  .razline-p {
    font-size: 1.8rem;
  }
}
.traktor {
  background: black;
}

.traktor__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.traktor-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.traktor-foto {
  position: relative;
  padding: 20%;
  max-height: 415px;
  overflow: hidden;
}

.traktor-foto__img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100%;
}

.traktor-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.traktor-text__h2 {
  text-align: center;
  margin-bottom: 15px;
}

.traktor-text__p {
  margin-bottom: 20px;
}

.batton-a-zolotoy {
  color: black;
  background: var(--zolotoy);
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 2;
  padding: 12px 60px;
}

@media (max-width: 954px) {
  .traktor__conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .traktor-text {
    max-width: 290px;
    text-align: center;
  }
  .traktor-text__h2 {
    font-size: 3rem;
  }
}
.vishka {
  background: black;
}

.vishka__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vishka-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vishka-text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vishka-text__h2 {
  margin-bottom: 30px;
}

.vishka-text__p {
  margin-bottom: 30px;
  max-width: 300px;
  text-align: center;
}

@media (max-width: 954px) {
  .vishka__conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .vishka-foto__img {
    max-width: 320px;
  }
  .vishka-text__h2 {
    font-size: 3rem;
  }
}
.tral__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tral-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tral-text {
  max-width: 750px;
  padding: 0 20px;
}

.tral-text__h2 {
  margin-bottom: 20px;
  text-align: center;
}

.tral-text__p {
  text-align: center;
  margin-bottom: 40px;
}

@media (max-width: 954px) {
  .tral__conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .vishka-foto__img {
    max-width: 290px;
  }
  .tral-text__h2 {
    font-size: 3rem;
  }
}
.monik__conteiner {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.monik-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.monik-text {
  text-align: center;
}

.monik-text__h2 {
  text-align: center;
  margin-bottom: 20px;
}

.monik-text__p {
  text-align: center;
  margin-bottom: 40px;
}

@media (max-width: 954px) {
  .monik__conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .monik-foto__img {
    max-width: 290px;
  }
  .monik-text__h2 {
    font-size: 2.4rem;
  }
}
.fyra__conteiner {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fyra-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  max-width: 750px;
}

.fyra-text__h2 {
  text-align: center;
  margin-bottom: 20px;
}

.fyra-text__p {
  text-align: center;
  margin-bottom: 40px;
}

@media (max-width: 954px) {
  .fyra__conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fyra-foto__img {
    max-width: 290px;
  }
  .fyra-text__h2 {
    font-size: 3rem;
  }
  .fyra-text {
    max-width: 290px;
  }
}
.footer {
  background: black;
}

.footer__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--taupe);
}

.footer-logo {
  margin-left: -15px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 600px;
  width: 100%;
}

.footer-icon {
  max-width: 60px;
  max-height: 60px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.footer-contakt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.emell {
  margin-bottom: 20px;
}

.tell {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 954px) {
  .footer__conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-logo {
    border-radius: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .emell {
    margin-bottom: 10px;
  }
  .footer-contakt {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tell {
    text-align: center;
    padding-bottom: 10px;
  }
  .footer-icons {
    margin-bottom: 15px;
  }
  .footer {
    padding-top: 20px;
  }
}