@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
  --zolotoy:rgb(237, 204, 75);
}

:root {
  --taupe:#73615b;
}

.normal-900 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 56px;
}

.normal-700 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 2px;
}

.normal-400 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;
  /* or 150% */
  letter-spacing: 0.15px;
}

/* Обнуляющий стиль */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

body,
html {
  height: 100%;
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--zolotoy);
}

[class*=__conteiner] {
  max-width: 1470px;
  margin: 0 auto;
  border-left: 1px solid var(--zolotoy);
  border-right: 1px solid var(--zolotoy);
  padding: 0 15px 0 15px;
  overflow: hidden;
}

/* ================================================================ */
.tral {
  min-width: 60px;
  padding-top: 16px;
}

.fura {
  width: 60px;
  padding-top: 10px;
}

.kran-p-opm {
  font-size: 52px;
  font-family: "Cinzel";
  font-weight: 700;
}

.wrapper {
  height: 100%;
  background: black;
}

.header {
  color: var(--zolotoy);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.header__conteiner {
  padding-bottom: 20px;
}

.logo-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  max-height: 120px;
  overflow: hidden;
  border-radius: 15px;
  min-width: 315px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.logo-header__logo {
  margin-top: 20px;
}

.logo-header__logo-img {
  max-height: 150px;
}

.header-wrapper {
  margin-top: 20px;
}

.icons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

.batton-tel {
  padding: 15px;
  text-align: center;
}

.batton-tel-a {
  font-size: 32px;
}

.logo-header__icons {
  margin: 0 20px 0 20px;
}

.logo-header__icon {
  max-width: 30px;
  overflow: hidden;
}

.logo-header__item {
  display: block;
}
.logo-header__item:hover {
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.items-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-menu {
  min-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 20px;
}
.item-menu a:hover {
  color: red;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.item-menu__img {
  margin-right: -5px;
}

.item-menu__text {
  padding: 0 15px 0 5px;
}
.item-menu__text a {
  padding: 0 45px 0 5px;
}

.main {
  background: black;
}

.kran__conteiner {
  background: black;
  padding-top: 50px;
}

.kran-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.kran-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 500px;
  color: var(--zolotoy);
}

.kran-text__h1 {
  text-align: center;
}

.kran-text__p {
  text-align: center;
  padding: 20px 0;
}

.batton-a {
  -ms-flex-item-align: center;
      align-self: center;
  background: var(--zolotoy);
  border-radius: 10px;
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 2;
  padding: 12px 60px;
}

.kran-foto {
  position: relative;
  overflow: hidden;
  padding: 15%;
  min-width: 50%;
  max-width: 51;
}

.kran-foto__img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
}

.razline__conteiner {
  background: var(--taupe);
  text-align: center;
}

.razline-p {
  text-align: center;
  margin: 20px 0;
  font-size: 36px;
}

.traktor {
  background: black;
}

.traktor__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.traktor-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.traktor-foto {
  position: relative;
  padding: 20%;
  max-height: 415px;
  overflow: hidden;
}

.traktor-foto__img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100%;
}

.traktor-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.traktor-text__h2 {
  text-align: center;
  margin-bottom: 15px;
}

.traktor-text__p {
  margin-bottom: 20px;
}

.batton-a-zolotoy {
  color: black;
  background: var(--zolotoy);
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 2;
  padding: 12px 60px;
}

.vishka {
  background: black;
}

.vishka__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vishka-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vishka-text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vishka-text__h2 {
  margin-bottom: 30px;
}

.vishka-text__p {
  margin-bottom: 30px;
  max-width: 300px;
  text-align: center;
}

.tral__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tral-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tral-text {
  max-width: 750px;
  padding: 0 20px;
}

.tral-text__h2 {
  margin-bottom: 20px;
  text-align: center;
}

.tral-text__p {
  text-align: center;
  margin-bottom: 40px;
}

.monik__conteiner {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.monik-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.monik-text {
  text-align: center;
}

.monik-text__h2 {
  text-align: center;
  margin-bottom: 20px;
}

.monik-text__p {
  text-align: center;
  margin-bottom: 40px;
}

.fyra__conteiner {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fyra-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  max-width: 750px;
}

.fyra-text__h2 {
  text-align: center;
  margin-bottom: 20px;
}

.fyra-text__p {
  text-align: center;
  margin-bottom: 40px;
}

.footer {
  background: black;
}

.footer__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--taupe);
}

.footer-logo {
  margin-left: -15px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 600px;
  width: 100%;
}

.footer-icon {
  max-width: 60px;
  max-height: 60px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.footer-contakt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.emell {
  margin-bottom: 20px;
}